
<div class="loading" ng-show="{{showLoader}}">
    <br />Hello! Please wait, Planet is loading!
</div>
<div class="col-md-10 masthead clearfix">
	<div class="inner">
	  <h2 class="masthead-brand col-xs-12"><a ui-sref="home">Welcom to {{planet.name}}!</a></h2>
	</div>
</div>
<div>
	<div class="col-md-2" style="font-size: 150%;margin-left: 30%;">
			<span class="label label-default" >Name - {{planet.name}}</span>   
		 	<span class="label label-default">Rotation Period - {{planet.rotation_period}}</span>
		 	<span class="label label-default">Orbital Period - {{planet.orbital_period}}</span>
		 	<span class="label label-default">Diameter - {{planet.diameter}}</span>
		 	<span class="label label-default">Climate- {{planet.climate}}</span>
		 	<span class="label label-default">Gravity - {{planet.gravity}}</span>
		 	<span class="label label-default">Terrain - {{planet.terrain}}</span>
		 	<span class="label label-default">Surface Water - {{planet.surface_water}}</span>
		 	<span class="label label-default">Population - {{planet.population}}</span>
		 	<span class="label label-default">Url - {{planet.url}}</span>
	</div>
</div>